/*
* Layout
*/

.application
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;
    background: url("../img/background5.png") repeat;
}

.application > .header
{
    width: 100%;
    position: absolute;
    left:0px;
    top:0px;
    background: url("../img/background1.png") repeat;
    -webkit-box-shadow:  0px 2px 4px 1px rgba(117, 34, 1, 1);
    box-shadow:  0px 2px 4px 1px rgba(117, 34, 1, 1);
    margin-bottom: 6px;
    z-index: 1;
}

.application > .body
{
    width: 100%;
    position: relative;
    color: #424242;
    background: none #fafafa;
    padding-top: 163px;
}

.application > .footer
{
    width: 100%;
    position: relative;
    color: White;
}

.application > .footer .copyright
{
    text-align: center;
}

.application > .footer .copyright a
{
    color: White;
    text-decoration: underline;
}

.application > .footer .copyright a:hover
{
    color: #43adff;
    text-shadow: #0090ff 0px 0px 2px;
}

.content.centered
{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.gallery > img
{
    float: left;
    height: 256px;
    width: 256px;
    padding: 1em;
}


#main_content
{
    font-size: 1.2em;
    padding: 40px;
    margin-left: 5px;
    margin-right: 5px;
}

#forkme_link
{
    padding-top: 0px;
    padding-bottom: 0px;
    opacity: .8;
}

#forkme_link:hover
{
    opacity: 1;
}

.forkme_icon
{
    height: 22px;
    width: 30px;
    background: url('../lib/img/blacktocat.png') no-repeat 0px -7px;
}

#download_link
{
    padding-top: 0px;
    padding-bottom: 0px;
    opacity: .8;
}

#download_link:hover
{
    opacity: 1;
}

.download_icon
{
    height: 24px;
    width: 18px;
    background: url('../lib/img/iconic/raster/white/download_18x24.png') no-repeat  0px -2px;
}


#project_title
{
    margin: 0;
    padding-top: .4em;
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    text-shadow: #111 0px 0px 10px;
}

#project_tagline
{
    margin: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    background: none;
    text-shadow: #111 0px 0px 10px;
}


#downloads > .content
{
    color: #0090FF;
    width: 210px;
    z-index: 10;
    margin: .5em 0;
}

#downloads > .content .links > .content
{
    background: none white;
}

#downloads > .content .links .zip_download_link
{
    padding:0;
    display: block;
    float: right;
    width: 90px;
    height:70px;
    text-indent: -5000px;
    overflow: hidden;
    background: url(../lib/img/sprite_download.png) no-repeat bottom left;
}

#downloads > .content .links .zip_download_link:hover
{
    background: url(../lib/img/sprite_download.png) no-repeat top left;
}

#downloads > .content .links .tar_download_link
{
    padding:0;
    display: block;
    float: right;
    width: 90px;
    height:70px;
    text-indent: -5000px;
    overflow: hidden;
    background: url(../lib/img/sprite_download.png) no-repeat bottom right;
    margin-left: 10px;
}

#downloads > .content .links .tar_download_link:hover
{
    background: url(../lib/img/sprite_download.png) no-repeat top right;
}

#downloads > .content .links > .header
{
    -webkit-box-shadow:  0px 2px 2px 2px rgba(130, 130, 130, 1);
    box-shadow:  0px 2px 2px 2px rgba(130, 130, 130, 1);
    text-align: center;
    margin-bottom: .2em;
    padding-bottom: .2em;
    background: none rgba(183, 198, 139, 1);
    color: rgb(84, 66, 54);
    font-size: 1em;
}

#downloads > .content .links > .content
{
    padding-bottom: 1.5em;
}

#nav_menu
{
    display:none;
    font-size: 1em;
    width: 100%;
    font-weight: 700;
    padding-top: .5em;
}

#nav_menu .menu
{
    height: 32px;
}

#nav_menu .menu li > ul
{
    background: none #eeeeee;
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
}

#nav_menu .menu li > a:hover,
#nav_menu .menu > li:hover,
#nav_menu .menu ul > li:hover
{
	background: none transparent;
}

#nav_menu .menu li > a
{
	color: #eeeeee;
}

#nav_menu .menu > li:hover > a,
#nav_menu .menu li > a:hover
{
    color: #ffffff;
    text-shadow: 1px 1px #999999;
}

